// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: rgba(15, 79, 138, 0.65);
$darkBlue: darken($blue, 15%);
$bodyBackground: #FAFCFD;


$fg: "franklin-gothic-urw", sans-serif;
$fg-comp: "franklin-gothic-ext-comp-urw", sans-serif;

body {
  background-color: #eee;
  background-image: -webkit-linear-gradient(45deg, $blue 25%, transparent 25%, transparent 75%, $blue 75%, $darkBlue), 
  -webkit-linear-gradient(45deg, $blue 25%, transparent 25%, transparent 75%, $blue 75%, $blue);
  background-size:60px 60px;
  background-position:0 0, 30px 30px;
  font-size: 16px;
  line-height: 18px;
}

$blue: rgba(15, 79, 138, 0.85);
$darkBlue: darken($blue, 15%);
$lightBlue: lighten($blue, 15%);

p {
  font-size: 1.0em;
  line-height: 1.5em;
  font-family: $fg;
}
h2 {
  font-size: 2.4em;
  font-family: $fg-comp;
}
a {
  &:hover {
    text-decoration: none;
    background-color: $blue;
  }
}
.socialtop {
  display: inline-block;
}
.twitter, .facebook {
  float: left;
}

#message-outer {
  border: 2px solid lightblue;
  border-radius: 5px;
  padding: 10px;
}
#message-inner {
  textarea {
    width: 95%;
  }
}
.container, .container-narrow {
  background: $bodyBackground;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px -1px 1px $darkBlue,-1px 0px 1px $lightBlue,
              1px 0px 1px $darkBlue,0px 1px 1px $lightBlue,
              2px 1px 1px $darkBlue,1px 2px 1px $lightBlue,
              3px 2px 1px $darkBlue,2px 3px 1px $lightBlue,
              4px 3px 1px $darkBlue,3px 4px 1px $lightBlue,
              5px 4px 1px $darkBlue,4px 5px 1px $lightBlue,
              6px 5px 1px $darkBlue,5px 6px 1px $lightBlue,
              7px 6px 1px $darkBlue,6px 7px 1px $lightBlue,
              8px 7px 1px $darkBlue,7px 8px 1px $lightBlue,
              9px 8px 1px $darkBlue;
}

.logo {
  padding-left: 50%;
  margin-left: -150px;
  position: relative;
  a:hover {
    text-decoration: none;
    background-color: $bodyBackground;
  }
}
h2.headline {
  text-align: center;
  text-transform: uppercase;
  color: $blue;
}
#home-text {

}
